{% extends 'bbb.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg mx-auto" style="max-width: 600px;">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">My Profile</h5>
        </div>
        <div class="card-body">
            <div class="mb-3 text-center">
                <i class="bi bi-person-circle" style="font-size: 5rem; color: #6c757d;"></i>
            </div>

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">First Name:</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name:</th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Joined:</th>
                        <td>{{ user.date_joined|date:"d M Y" }}</td>
                    </tr>
                </tbody>
            </table>

            
        </div>
    </div>
</div>
{% endblock %}
